#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url(img/bag.png) center no-repeat;
    background-size: 80%;
}
#bag.bagburst{
    background: url(img/bag-burst.png) center no-repeat;
    background-size: 80%;
}
#health{
  width: 200px;
  margin: 0 auto 0 auto;
  border: 2px solid #000000;
}
p{
    color: red;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#health div{
    height: 20px;
    background-color:crimson;
}
#controls{
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}