<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Selection</title>
    <link rel="stylesheet" href="style.css"/> 
    
</head>
<body>
 
    <div>
        <h1> Player Selection And Score Progress..Welcome:</h1>
    </div>
    <div id="teamSelection">
        <p v-if="!isEditing">
            <input type="text" placeholder="Add Player Name Here" id="pName" v-model="pName" v-on:keydown.enter="addPlayer"/>
            <button @click="addPlayer">Add Player</button>
        </p>
        <p v-else>
            <input type="text" placeholder="Add Player Name Here" id="pName" v-model="pName" v-on:keydown.enter="addPlayer"/>
            <button @click="updatePlayer">Update</button>
        </p>
        <h4>Selected Players:</h4>
        <ol>
            <li v-for="(pName , index) in players">
                {{ pName }}
                <button @click="editPlayer(index , pName)">Edit</button>
                <button @click="removePlayer(index)">Remove</button>
            </li>
            
        </ol>

        <h3>Calculate Score</h3>
        <p>Score : {{ score }}/{{ wickets }}</p>
        <p>Wickets : {{ wickets }}</p>
        <p>LB :{{ lb }}</p>
        <p>NB : {{ nb }}</p>
        <p>WD : {{ wd }}</p>

        <p>
            <button @click="updateScore(1)">1</button>
            <button @click="updateScore(2)">2</button>
            <button @click="updateScore(3)">3</button>
            <button @click="updateScore(4)">4</button>
            <button @click="updateScore(5)">5</button>
            <button @click="updateScore(6)">6</button>
        </p>

        <p>
            <button @click="calType('w')">W</button>
            <button @click="calType('nb')">NB</button>
            <button @click="calType('wd')">WD</button>
            <button @click="calType('lb')">LB</button>
        </p>

        <p>
            <button @click="resetScore()">Reset</button>
        </p>

        <p ><img :class="{ full : fullWidthImage }" v-on:click="status()" :src="img1" /></p>

        <form @submit.prevent="">
         <p><button >Submit</button></p>

         <p>{{ details }}</p>

         <p> Know More About Team: <a :href="abtTeam"> click here . </a></p>
    </form>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>

</body>
</html>
